@import "nib";

.b-range-slider {
	position: relative;
	height: 5px;
	width: 100%;
	background-color: #ccc;
	border-radius: 10px;

	&__filled {
		position: absolute;
		left: 0;
		height: 100%;
		background-color: #C3C38A;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	&__control {
		position: absolute;
		top: -2px;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		background-color: #E42D2D;
		border: solid 1px #B3B3B3;
		cursor: pointer;
	}
}

.b-range-slider_move-now {
	user-select: none;
}