@import "nib";

.b-range-slider {
	position: relative;
	height: 5px;
	width: 100%;
	background-color: #ccc;
	border-radius: 10px;
	cursor: pointer;

	&__filled {
		position: absolute;
		left: 0;
		height: 100%;
		background-color: #C3C38A;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	&__control {
		position: absolute;
		top: -2px;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		background-color: #E42D2D;
		border: solid 1px #B3B3B3;
		cursor: pointer;
		transition: left .4s;

		.b-range-slider_move-now & {
			transition: none;
		}

		&__bubble {
			position: absolute;
			top: -30px;
			padding: 0 10px;
			background-color: #fff;
			border: solid 1px #ccc;
			border-radius: 5px;
			font-size: 14px;
			text-align: center;
			white-space: nowrap;

			&:before,
			&:after {
				content: ' ';
				position: absolute;
				left: 50%;
				width: 0;
				height: 0;
				margin-left: -5px;
				border: 5px solid transparent;
			}

			&:before {
				bottom: -11px;
				border-top-color: #ccc;
			}

			&:after {
				bottom: -10px;
				border-top-color: #fff;
			}
		}
	}
}

.b-range-slider_move-now {
	user-select: none;
}